body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient( #000000, #f14949);
  padding-top: 20px;
  color: orangered;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.FastSushi {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 40px;
}
.image-sushi img {
  width: 100px;
  height:auto;
}

.FastSushi h2 {
  margin: 0;
}

.FastSushi .Fast {
  color: orangered;
}

.FastSushi .Sushi {
  color: whitesmoke;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
}

ul li a {
  text-decoration: none;
  color: whitesmoke;
  display: block;
  border-radius: 10px; 
  padding: 10px;
  transition: background-color 0.3s;
}

ul li a:hover {
  background-color: white;
  color: #111;
}

#logout {
  margin-top: 20px;
  background-color: #d9534f;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#logout:hover {
  background-color: #c9302c;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.content {
  padding: 20px;
  margin-left: 235px;
}

#commande-table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre légère */
}

#commande-table th, #commande-table td {
  border: 1px solid #ddd;
  padding: 12px; /* Augmentation de la marge intérieure pour un look plus aéré */
  text-align: left;
}

#commande-table th {
  background-color: #f5f5f5; /* Légère modification de la couleur de fond */
  font-weight: bold;
}

#commande-table tr:hover {
  background-color: #f9f9f9; /* Changement de couleur au survol pour une meilleure interaction */
}
