body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.wrapper {
  display: flex;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient( #000000, #f14949);
  padding-top: 20px;
  color: orangered;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.FastSushi {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 40px;
}
.image-sushi img {
  width: 100px;
  height:auto;
}

.FastSushi h2 {
  margin: 0;
}

.FastSushi .Fast {
  color: orangered;
}

.FastSushi .Sushi {
  color: whitesmoke;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
}

ul li a {
  text-decoration: none;
  color: whitesmoke;
  display: block;
  border-radius: 10px; 
  padding: 10px;
  transition: background-color 0.3s;
}

ul li a:hover {
  background-color: white;
  color: #111;
}

#logout {
  margin-top: 20px;
  background-color: #d9534f;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#logout:hover {
  background-color: #c9302c;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.content {
  flex-grow: 1;
  padding: 20px;
  color: black;
}
