@import url("https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.form {
  width: 100%;
  height: 100dvh;
  padding: 20%;
  background: linear-gradient(to right, #000000, #f14949);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.form__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.form__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form__left {
  flex: 1;
  padding-right: 20px;
  text-align: center;
}

.form__image {
  width: 80%; 
  max-width: 100px;
  height: auto;
  border-radius: auto;
}

.form__right {
  flex: 1;
}

.form__submit-btn {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #000000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.form__submit-btn:hover {
  background: #f15353;
}

.form__id,
.form__password {
  margin-bottom: 20px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

a {
  color: #71df88;
}

a:hover {
  color: #ff3f70;
}
